<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    <header class="site-header">

      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

      <br>

      {% if site.header-links.email %}
      <a href="mailto:{{ site.header-links.email }}">
        <i class="fa fa-envelope" aria-hidden="true"></i></a>
      {% endif %}

      {% if site.header-links.github %}
      <a href="https://github.com/{{ site.header-links.github }}">
          <i class="fa fa-github"></i></a>
      {% endif %}

      {% if site.header-links.linkedin %}
      <a href="https://linkedin.com/in/{{ site.header-links.linkedin }}">
        <i class="fa fa-linkedin"></i></a>
      {% endif %}

      <a href="{{ "/archives/" | prepend: site.baseurl }}">
        <i class ="fa fa-archive"></i></a>

      <a href="documents/resume.pdf">
        <i class ="fa fa-file-text"></i></a>

    </header>


    <div class="page-content">
      {{ content }}
    </div>
    {% include ga.html %}
  </body>
</html>
