<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    <header class="site-header">
      <p>
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </p>

      <p>
        {% if site.header-links.github %}
        <a href="https://github.com/{{ site.header-links.github }}">
          <i class="fa fa-github"></i> 
        </a>
        {% endif %}

        {% if site.header-links.linkedin %}
        <a href="https://linkedin.com/in/{{ site.header-links.linkedin }}">
          <i class="fa fa-linkedin"></i>
        </a>
        {% endif %}
      </p>
    </header>


    <div class="page-content">
      {{ content }}
    </div>
    {% include ga.html %}
  </body>
</html>
